*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #011F3F;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.text{
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding: 1.3rem;
  height: 400px;
}
#level-title {
  font-size: 4rem;
}

.massage-to-star{
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  
}

.center-items{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@media (max-width: 800px) {
  body{
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
